body {
  background-color: #f2f2f2;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: large;
}

.box-center {
  text-align: center;
  margin-top: 5px;
}

.my-name {
  color: rgb(24, 36, 116);
  text-decoration: none;
}

.personal {
  overflow: auto;
}

.picture {
  /* border-radius: 100%; */
  float: left;
  margin: 10px;
}

h2 {
  color: rgb(24, 36, 116);
}

.description-paragraph {
  text-align: justify;
  margin-right: 10px;
}

.testimony-paragraph {
  text-align: center;
  margin-right: 10px;
}

.technology {
  float: left;
  width: 47%;
  padding: 10px;
  min-height: auto;
}

.others {
  float: right;
  width: 47%;
  padding: 10px;
  min-height: 266px;
}

.links-box {
  padding-top: 290px;
}

.button {
  background-color: rgb(24, 36, 116);
  color: #f2f2f2;
  padding: 5px 10px;
  line-height: 40px;
  font-weight: 700;
  text-decoration: none;
}
